debug = true
logLevel = "DEBUG"

defaultEntryPoints = ["http", "https"]

[entryPoints]
  [entryPoints.http]
    address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
    address = ":443"
  [entryPoints.https.tls]

[retry]

[api]
  entryPoint = "traefik"
  dashboard = false

# Enable Docker configuration backend
[docker]
watch = true
endpoint = "unix:///var/run/docker.sock"
domain = "docker.localhost"
exposedbydefault = false

[acme]
email = "{{ acme_email }}"
storage = "acme.json"
entryPoint = "https"
onHostRule = true
onDemand = false
acmeLogging = true
[acme.httpChallenge]
entryPoint = "http"